.react-desktop-app {
  color: #4A4A4A;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 720px;
  min-height: 100vh;
}

.property-description-container {
  margin-top: 55px;
  padding-bottom: 30px;
  text-align: center
}